@import "tailwindcss";

* {
  font-family: var(--font-montserrat);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Hide Google Translate Banner and Visually Embedded Pieces */
.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt, .goog-te-balloon-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.skiptranslate{
  display: none;
}